<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your friend thought you might like this link:</h1>
    <a href="<%= @email_data.link %>"><%= @email_data.link %></a>
  </body>
</html>
